@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Quicksand:700);

body {
	font-family: 'Quicksand', sans-serif;
}

.navbar-brand {
	font-weight: 700;
	color: white !important;
}

.navbar {
	background: #e1563f top center;
}