<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			{{#link-to 'index' class='navbar-brand'}}Todo0{{/link-to}}
		</div>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav navbar-right">
			</ul>
		</div>
	</div>
</div>