<div class="row">
	<div class="col-xs-12">
		<form class="form-inline">
			<div class="form-group">
				{{input type='text' placeholder='Task name' value=newTask class='form-control'}}
			</div>
			<button {{action 'addTodo'}} class="btn btn-primary" {{bind-attr disabled=state}}>add</button>
		</form>
	</div>
</div>