<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		{{partial 'partials/todo-form'}}
		<h2><b>To Dos</b></h2>
		<ul>
			{{#each todo in model}}
				<li>
				{{todo.task}}
				{{#if todo.completed}}
					<b>completed</b>
				{{else}}
					<b>pending</b>
				{{/if}}
				</li>
			{{/each}}
		</ul>
	</div>
</div>
